### Q1 . Consider the data of play tennis or not. Predict the output for the following cases

##### Naive Bayes theorem to predict the output of Given instances
##### Play Tennis Training Example

In [1]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
tennis = pd.read_csv('/Users/rutuja/Desktop/Courses/INFO6105 -Data Science/play_tennis.csv')

In [3]:
tennis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   day       14 non-null     object
 1   outlook   14 non-null     object
 2   temp      14 non-null     object
 3   humidity  14 non-null     object
 4   wind      14 non-null     object
 5   play      14 non-null     object
dtypes: object(6)
memory usage: 800.0+ bytes

In [4]:
tennis.columns

Index(['day', 'outlook', 'temp', 'humidity', 'wind', 'play'], dtype='object')

In [5]:
tennis.head(14)

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [6]:
outlook = tennis.groupby(['outlook', 'play']).size()
temp = tennis.groupby(['temp', 'play']).size()
humidity = tennis.groupby(['humidity', 'play']).size()
wind = tennis.groupby(['wind', 'play']).size()
play = tennis.play.value_counts()

In [7]:
pd.crosstab(tennis['outlook'], tennis['play'], margins = True)

play      No  Yes  All
outlook
Overcast   0    4    4
Rain       2    3    5
Sunny      3    2    5
All        5    9   14

In [8]:
pd.crosstab(tennis['temp'], tennis['play'], margins = True)

play  No  Yes  All
temp
Cool   1    3    4
Hot    2    2    4
Mild   2    4    6
All    5    9   14

In [9]:
pd.crosstab(tennis['humidity'], tennis['play'], margins = True)

play      No  Yes  All
humidity
High       4    3    7
Normal     1    6    7
All        5    9   14

In [10]:
pd.crosstab(tennis['wind'], tennis['play'], margins = True)

play    No  Yes  All
wind
Strong   3    3    6
Weak     2    6    8
All      5    9   14

In [11]:
pd.crosstab(index=tennis['play'],columns="count", margins=True)

col_0  count  All
play
No         5    5
Yes        9    9
All       14   14

### 1. Given a instance
#### x = (Outlook: Sunny, Temp: Hot, Humidity: High, Wind = Strong)

Look up table - 

|  x   | play-Yes     | play-No    |
| :------------- | :----------: | -----------: |
|P(Outlook= Sunny) | 2/9  | 3/5    |
|P(Temp= Hot)|2/9 |2/5 |
|P(Humidity= High)|3/9 |4/5 |
|P(Wind = Strong)|3/9 |3/5 |

##### P( yes| x ):  [P( sunny| yes )  P( hot| yes )  P( high| yes )  P( strong| yes )]  P( play=yes )

In [12]:
p_x_yes = ((2/9)*(2/9)*(3/9)*(3/9)*(9/14))
print('The probability of the predictors given playing tennis is', '%.3f'%p_x_yes)

The probability of the predictors given playing tennis is 0.004

##### P( no| x ):  [P( sunny| no )  P( hot| no )  P( high| no )  P( strong| no)]  P( play=no )

In [13]:
p_x_no =((3/5)*(2/5)*(4/5)*(3/5)*(5/14))
print('The probability of the predictors given playing tennis is', '%.3f'%p_x_no)

The probability of the predictors given playing tennis is 0.041

In [14]:
if p_x_yes > p_x_no:
  print('The probability of playing tennis = Yes')
else:
  print('The probability of not playing tennis = No')

The probability of not playing tennis = No

### 2. Given a  instance
#### x1 =(Outlook = Overcast, Temp = Mild, humidity = High, Wind = Strong )

Look up table - 

|  x1  | play-Yes    | play-No    |
| :------------- | :----------: | -----------: |
|P(Outlook= Overcast) | 4/9  | 0/5    |
|P(Temp= Mild)|4/9 |2/5 |
|P(Humidity= High)|3/9 |4/5 |
|P(Wind= Strong)|3/9 |3/5 |

##### P( yes| x1 ):  [P( overcast| yes )  P( mild | yes )  P( high| yes )  P( strong| yes )]  P( play=yes )

In [16]:
p_x1_yes = ((4/9)*(4/9)*(3/9)*(3/9)*(9/14))
print('The probability of the predictors given playing tennis is', '%.3f'%p_x1_yes)

The probability of the predictors given playing tennis is 0.014

##### P( no| x1 ):  [P( overcast| no )  P( mild | no )  P( high| no )  P( strong| no )]  P( play=no )

In [17]:
p_x1_no =((0/5)*(2/5)*(4/5)*(3/5)*(5/14))
print('The probability of the predictors given playing tennis is', '%.3f'%p_x1_no)

The probability of the predictors given playing tennis is 0.000

In [18]:
if p_x1_yes > p_x1_no:
  print('The probability of playing tennis = Yes')
else:
  print('The probability of playing tennis = No')

The probability of playing tennis = Yes