### Data Structures

Data structure is a particular way of organizing data in a computer so that it can be used efficiently. There are many different methods for storing data and they differ based on the arrangement of the individual elements in memory, the speed of access to the individual element, and the indexing technique used to access the individual elements etc. 

While add-on libraries like pandas and NumPy add advanced computational functionality for larger datasets, they are designed to be used together with Python’s built-in data manipulation tools.
We’ll start with Python’s workhorse data structures: tuples, lists, dicts, and sets. 

In Python, data structures can be classified further into two categories: mutable and immutable.

Mutable data structures can be modified, that means, elements can be added to them or elements can be removed. On the other hand, immutable data structures can not be modified, that means, once an immutable data structure is defined, no changes can be performed on it. 

The built is data structures in Python are 

1. **List** is an ordered sequence of objects. Elements in the list can be any Python objects. They are mutable.


2. **Tuple** is an ordered sequence of objects. Elements in the tuple can be any Python objects. Tuple are immutable


3. **Dictionary** is a sequence of key and value pairs. Dictionary is mutable as new key-values can be added and existing key-values can be modified. In a dictionary, the keys have to mutable. 

4. **Set** is an unordered sequence of unique elements. Sets are mutable but its elements are immutable. 


5. **String** is an ordered sequence of characters. Strings are immutable. 

It is necessary to understand the time and space complexity of these data structures, so that code can be written that runs efficiently both in terms of time and memory. It is also a good programming practice that future programmers reading your code would appreciate and understand. 

Let us discuss them one by one.

### List

A list is a data-structure, or it can be considered a container that can be used to store multiple data at once. List is a collection of items. These items can be of any Python data type. Thus, list can be created from integers, floats, strings, tuples, lists etc. List can have items of different type in the same list. However, it is not recommended. 

Lists are great if you want to preserve the sequence of the data and then iterate over them later for various purposes.

The important characteristics of Python lists are as follows:

- Lists are ordered.

- Lists can contain any arbitrary objects.

- List elements can be accessed by index.

- Lists can be nested to arbitrary depth.

- Lists are mutable.

- Lists are dynamic.

In this notebook you will come to know how to create python lists and the common paradigms for a python list.

#### How to create a list
The syntax for list is


x = [elem1, elem2, elem3 ...]

Note that list starts with an open square bracket,[ and ends with a closed square bracket] and elements are separated by a comma. The index of the list starts with zero. Each element will have a distinct place in the sequence and if the same value occurs multiple times in the sequence, each will be considered separate and distinct element.  

lists are variable-length and their contents can be modified in-place.

In [4]:
Fruits = ['apricot', 'banana', 'grapes', "kiwi", 'orange', 'strawberry']
print(Fruits)

['apricot', 'banana', 'grapes', 'kiwi', 'orange', 'strawberry']

In [5]:
type(Fruits)

list

####  Access Items in a list/Slicing
To access values in lists, use the square brackets for slicing along with the index or indices to obtain value available at that index.

Trying to access an element other that this will raise an IndexError. The index must be an integer. We can't use float or other types, this will result into TypeError.

#####  Slicing
You can select sections of most sequence types by using slice notation, which in its basic form consists of start:stop passed to the indexing operator []:

#####  Print  the second item of the list

In [6]:
print(Fruits[(len(Fruits)-1)])

strawberry

In [19]:
Fruits[2:]

['grapes', 'kiwi', 'orange', 'strawberry']

#### Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [31]:
x = [7,2,3,5,6,0,1]
x[:1]

[7]

In [16]:
x[2:4]

[3, 5]

**Note**: While the element at the start index is included, the stop index is not included, so that the number of elements in the result is stop - start.

Either the start or stop can be omitted, in which case they default to the start of the
sequence and the end of the sequence, respectively:

In [27]:
x[:5]

[7, 2, 3, 5, 6]

In [26]:
x[:len(x)]

[7, 2, 3, 5, 6, 0, 1]

A step can also be used after a second colon to, say, take every other element

In [20]:
x[::2]

[7, 3, 6, 1]

In [22]:
x[1::2]

[2, 5, 0]

#### Change Item Value
To change the value of a specific item, refer to the index number:

#### Change the second item

In [ ]:
x

In [33]:
%history

print(Fruits[(len(Fruits)-2)])
print(Fruits[(len(Fruits)-1)])
print(Fruits[(len(Fruits)-1)])
Fruits = ['apricot', 'banana', 'grapes', "kiwi", 'orange', 'strawberry']
print(Fruits)
type(Fruits)
print(Fruits[(len(Fruits)-1)])
Fruits(len(Fruits)-1)
print(Fruits[(len(Fruits)-1)])
print(Fruits[(len(Fruits))])
Fruits[-1]
Fruits[5]
Fruits[-2]
Fruits[-5]
x[2:4]
x = [7,2,3,5,6,0,1]
x[4:]
x[2:4]
Fruits[2:4]
Fruits[:2]
Fruits[2:]
x[::2]
x = [7,2,3,5,6,0,1]
x[4:]
x[1::2]
x[1] = 10
print(x)
#Slices can also be assigned to with a sequence:
x[1:3]= [8,9]
x
x = [7,2,3,5,6,0,1]
x[4:]
x[:len(x)]
x[:5]
x = [7,2,3,5,6,0,1]
x[5:]
x = [7,2,3,5,6,0,1]
x[6:]
x = [7,2,3,5,6,0,1]
x[1:]
x = [7,2,3,5,6,0,1]
x[:1]
# looping through the list

for gf in Fruits:
    print('We are printing one element at a time:', gf)
%history

In [23]:
x[1] = 10
print(x)

[7, 10, 3, 5, 6, 0, 1]

In [24]:
#Slices can also be assigned to with a sequence:
x[1:3]= [8,9]
x

[7, 8, 9, 5, 6, 0, 1]

#### Negative Indexing
Negative indices slice the sequence relative to the end, -1 refers to the last item, -2 refere to the second last itenm etc.

In [34]:
# print the last item of the list
print(x[-1])

1

In [35]:
x[len(x)-1]

1

#### Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list

In [36]:
x[-3:]

[6, 0, 1]

A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple:

In [9]:
x[::-1]

[1, 0, 6, 5, 3, 2, 7]

In [10]:
x[::-2]

[1, 6, 3, 7]

x[1:1]

In [37]:
Fruits

['apricot', 'banana', 'grapes', 'kiwi', 'orange', 'strawberry']

#### Loop thorugh a list
You can loop thorugh the list by using a for loop:

In [32]:
# looping through the list

for gf in Fruits:
    print('We are printing one element at a time:', gf)

We are printing one element at a time: apricot
We are printing one element at a time: banana
We are printing one element at a time: grapes
We are printing one element at a time: kiwi
We are printing one element at a time: orange
We are printing one element at a time: strawberry

#### Check if item exists in the list

Check if a list contains a value using the in keyword:

In [38]:
7 in x

True

The keyword not can be used to negate in:

In [39]:
7 not in x

False

#### List  Methods and funtioncs

| Method |   Action   |
|:---|:---|
|   len(x) | Returns the number of items in x   |
|   x.index(i) | Returns the index of items in x   |
|   min(x) | Returns the minimum value in x     |
|   max(x) | Returns the maximum of items in x   |
|   x.append(x1) | will append x1 to teh end of x     |
|   x.extend(x1) | will extend the list x by appending all the elements i list x1, x1 has to be a list  |
|   x.insert(i,x1) | will insert item x1 atbindex i    |
|   x.count(i) | Returns frequency of occurence of i  |
|   x.remove(i)| Will remove the first i from x  will raise ValueError ifnthere is no i      |
|   x.pop([i]) | will remove and return the item at index i.  |
|   del x[a:b] | This method deletes all the elements in range starting from index ‘a’ till ‘b’ mentioned in arguments.    |
|   x.sort() | Will sort the items in A in-place   |
|   x.reverse() | Reverse the order of the list in place   |
|   all(list1) | True if all items in the list have a True value  |
|   any(list1) | True if one item in the list have a True value  |


*Note: Make sure to understand the difference between append and extend methods.*

**Note:** make sure to understand the difference between pop, del and remove 

Let us consider some examples to illustrate these methods and functions

In [41]:
A = [4, 7, 5]
print('number of elements is:', len(A))

number of elements is: 3

In [43]:
A.index(5)

2

In [44]:
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1.reverse()
print ("list now : ", list1)

list now :  ['maths', 'chemistry', 'Biology', 'physics']

In [47]:
list1[::-1]

['physics', 'Biology', 'chemistry', 'maths']

In [46]:
A = [4, 7, 5]
print('the max and min are: ', max(A), min(A))

the max and min are:  7 4

In [22]:
A = [4, 7, 5]
A.insert(2, -3) 
print(A)

[4, 7, -3, 5]

In [14]:
A.pop(1) # will pop 7 that is located at index 1
print(A)

[4, 5]

In [15]:
A.pop()
print(A)

[4]

In [18]:
A

[4, 7, 5]

In [20]:
A.remove(4) # will remove -3 from the list A
print(A)

[7, 5]

In [24]:
del A[2]
A

[4, 7]

In [48]:
# The clear() method empties the list
list1 = ["apple", "banana", "cherry"]
list1.clear()
print(list1)

[]

In [52]:
x1 = ["apple", "banana", "cherry"]
del x1
print(x1)

NameError: name 'x1' is not defined

#### Join two lists

There are sveral ways to join, Concatenating or combining two or more lists

In [31]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [32]:
A

[4, 7]

In [33]:
A.append(3.14) # 3.14 will get appended to A
print(A)

[4, 7, 3.14]

In [54]:
A = [4, 7, 5]
A.append([-6, -7]) # list [-6, -7] will be appended to A
print(A)

[4, 7, 5, [-6, -7]]

In [ ]:
print((A[3]))

In [53]:
A = [4, 7, 5]
A.extend([-6,-7]) # values -9 and -8 will be appended to A
print(A)
print(A[3])

[4, 7, 5, -6, -7]
-6

In [55]:
A = [4, 3.14, [-6, -7], -9, -8]
A.extend([4,7])
print(A)

[4, 3.14, [-6, -7], -9, -8, 4, 7]

In [38]:
A = [4, 3.14, [-6, -7], -9, -8]
A.append([4,7])
print(A)

[4, 3.14, [-6, -7], -9, -8, [4, 7]]

In [37]:
A = [4, 3.14, [-6, -7], -9, -8]
A.extend((91,92))
print(A)

[4, 3.14, [-6, -7], -9, -8, 91, 92]

In [ ]:
print(4 in A)

In [ ]:
## Sorting: can sort a list in-place (withoput creatin a new object) 
# by calling its osrt function
A = [1, 5, 4, 7, 3]
A.sort()
A

In [39]:
lista = [[5, 7], [2, 9]]
lista.sort()
print(lista)

[[2, 9], [5, 7]]

In [40]:
listb = [[5, 7], [5,4]]
listb.sort()
print(listb)

[[5, 4], [5, 7]]

sort has a few options that will occasionally come in handy. One is the ability to pass a secondary sort key—that is, a function that produces a value to use to sort the objects. For example, we could sort a collection of strings by their lengths:

In [42]:
b = ['john', 'jenny', 'mo', 'richard', 'six']
#b.sort()
b.sort(key=len)
b

['mo', 'six', 'john', 'jenny', 'richard']

In [ ]:
# Concatenating and combining lists

list1 = [-10, -9]
list2 = [9, 10]
list3 = list1 + list2
print(list3)

#### Copy a List
one cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy(). Let us consider an example

In [43]:
list1 = ["apple", "banana", "cherry", "strawberry"]
list2 = list1.copy()
print(list2)

['apple', 'banana', 'cherry', 'strawberry']

In [44]:
list1[2] = "orange"
list1

['apple', 'banana', 'orange', 'strawberry']

In [45]:
list2

['apple', 'banana', 'cherry', 'strawberry']

In [46]:
list1 = ["apple", "banana", "cherry", "strawberry"]
list2 = list(list1)
print(list2)

['apple', 'banana', 'cherry', 'strawberry']

#### zip
zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples:

In [48]:
x1 = ['foo', 'bar', 'baz']
x2 = ['one', 'two']
x1x2 = zip(x1, x2)
print(list(x1x2))
#print(tuple(x1x2))

[('foo', 'one'), ('bar', 'two')]

A very common use of zip is simultaneously iterating over multiple sequences, possi‐
bly also combined with enumerate:

In [ ]:
for i, (a, b) in enumerate(zip(x1, x2)):
    print('{0}: {1}, {2}'.format(i, a, b))

#### The list() Constructor
It is also possible to use the list() constructor to make a new list.

In [2]:
list1 = list(("apple", "banana", "cherry", "strawberry")) # note the double round-brackets
print(list1)

['apple', 'banana', 'cherry', 'strawberry']

### List comprehension

In Python, list comprehension provide an efficient and elegant way to create lists from a list or other iterable object. It is faster comparable to looping through each element in the list. It also provides a very succinct syntax making the code more readable. it can also prevent modifying the existing list in the process of creating a new list and hence makes the code "functional". 

List comprehension uses a square bracket with an expression followed by for loop with an optional if statement
lst2 = [x for a in iterable if statement]

In [3]:
# square every element in a list and make another list
list1 = [-9, 2, 5]     # output [ 81 4 25]
list2 = []
for x in list1:
    list2.append(x*x)
print(list2)

[81, 4, 25]

In [4]:
list1 = [-9, 2, 5]
list2 = [x*x for x in list1]
print(list2)

[81, 4, 25]

A list comprehension can optionally contain more for or if statements. An optional if statement can filter out items for the new list. Here are some examples.

In [5]:
# list comprehension to filter elements from the input list. 
list1 = [10, 15, 18, 20]
list2 = [a for a in list1 if a %3 == 0]
print(list2)

[15, 18]

In [56]:
list1 = [10, 15, 18, 20]
list3 = [a for a in list1 if a %2 == 0]
print(list3)

[10, 18, 20]

In [68]:
# Nested list

x=[[1,2],[6,7]]

In [66]:
x =[1,2,3,[5,6]]
len(x)

4

In [58]:
len(x)

2

In [ ]:
type(x)

In [10]:
type(x[0])

list

In [69]:
# Access 1
x[0][0]

1

In [71]:
'''
Practice Problem

Given a list check if all the values are True
['','','1']
'''

all(['','','1'])

False

In [60]:
'''
Practice Problem

Given a list check if any of the  the values are True
['','','1']
'''
any(['','','1'])

True

In [73]:
'''
Practice exercise

extract 3 and 5
'''
a=[[[1,2],[3,4],5],[6,7]]

print(a)

print(len(a))

[[[1, 2], [3, 4], 5], [6, 7]]
2

In [74]:
print(a[0])
print("\n")
print(a[0][1])

[[1, 2], [3, 4], 5]


[3, 4]

In [20]:
print(a[0][1][0])

3

#### How to Convert a list to string

use str.join()

In [75]:
listOfwords = ["This" , "is", "a", "python", "for", "data analysis", "course"]

In [76]:
'''
Convert list of string to a string with whitespace as seperator
'''
# Join all the strings in list
list_str = ' '.join(listOfwords)
print(list_str)

This is a python for data analysis course

In [23]:
# Let us try another separator, ','

# Join all the strings in list
list_str = ','.join(listOfwords)
print(list_str)

This,is,a,python,for,data analysis,course

In [53]:
# list comprhension and mix list 
listOfwords = ["This" , "is", "a", "python", "for", "data analysis", "course", 404, 20]
list_str_mix = '_'.join([str(elem) for elem in listOfwords ])
print(list_str_mix)

This_is_a_python_for_data analysis_course_404_20

In this notebook on Python Lists, we investigated various facts related to list. we looked at how to declare and access a list. That included slicing lists in python. Then we looked at how to delete and reassign elements or an entire list. Next, we learned about multidimensional lists and comprehension. We saw how to iterate on python lists, concatenate them, and also the operations that you can perform on them. Lastly, we looked at some built-in functions and methods that you can call on lists.

### Tuple

Tuple is another sequence. unlike lists, tuples are immutable. So the elements of a tuple cannot be modified after they have been created.

#### Syntax: 
A tuple starts with an open parenthesis, ( and ends with a closed parenthesis ). Elements in a tuple are separated by comma.

**Note:** there is a comma at the end also. It is customary to put a comma after the last element. This will be especially useful when we have only one element in a tuple. Why? In the following example, we follow the tuple syntax and created a tuple with only one element. When we printed the type, notice the type is 'str' and not tuple. 

By adding a comma at the end, we are indicating to the Python interpreter that we want the object to be treated as a tuple with one element. However it is optional when there is more than one element. Still it is customary to add comma at the end to all tuples.

In [54]:
tuple1 = (1, 2, 3,)
print(tuple1)
type(tuple1)

(1, 2, 3)

tuple

In [55]:
tuple1 = ('one')
print(tuple1, type(tuple1))

one <class 'str'>

For writing tuple for a single value, you need to include a comma, even though there is a single value. Also at the end you need to write semicolon as shown below.

In [56]:
tuple1 = ('one',)
print(tuple1, type(tuple1))

('one',) <class 'tuple'>

To create an empty tuple, you need to write as two parentheses containing nothing:

tup = ()

You can convert any sequence or iterator to a tuple by invoking tuple:

In [29]:
x = [1,2,3]
x1 = tuple(x)
print(type(x1))

<class 'tuple'>

#### The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

In [30]:
x = tuple([1,2,3])
x

(1, 2, 3)

### Aceesing/Slicing of Tuple
Elements of tuple can be accessed with square brackets and integer known as index. Index starts with zero.

In [31]:
x[1]

2

#### Change Tuple Values

Since tuples are immutable, we cannot alter elements in a tuple after the tuple 
is defined.

In [77]:
tuple2 = (13, 19, 25,) 
print(tuple2[0]) # accessing the first element in tuple2
print(tuple2[1]) # accessing the second element in tuple2

13
19

In [78]:
tuple2[1] = 29

TypeError: 'tuple' object does not support item assignment

#### Add Items
Once a tuple is created, you cannot add items to it. Tuples are unchangeable.

Example

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [34]:
tuple[3] = 30

TypeError: 'type' object does not support item assignment

#### Remove Items
Note: You cannot remove items in a tuple.

 Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:

Example

In [36]:
tuple1 = (1,2,3,4)
del tuple1
print(tuple1) #this will raise an error because the tuple no longer exists

NameError: name 'tuple1' is not defined

In [37]:
x = (10,20,30,40,50)
y = list(x)
y[1] = 60
x = tuple(y)
print(x)

(10, 60, 30, 40, 50)

#### Negative Indexing

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [38]:
x[-1]

50

#### Find the index of an element in tuple using index()

Sometimes just checking if an element exists in tuple is not sufficient, we want to find it’s position of first occurrence in tuple. Tuple provides a member function index() i.e.

tuple.index(x)

It returns the index for first occurrence of x in the tuple

In [40]:
tuple1 = (12 , 34, 45, 22, 33 , 67, 34, 56 )

indx = tuple1.index(22)
print("Element 12 Found at : " , indx)

Element 12 Found at :  3

#### Tuple : Append , Insert , Modify & delete elements in Tuple

tuples are immutable i.e. once created we can not change its contents.  But sometimes we want to modify the existing tuple, in that case we need to create a new tuple with updated elements only from the existing tuple.

In [41]:
# Append an element in Tuple at end

# Create a tuple
tupleObj = (121, 314, 245, 232, 334 )

'''Now to append an element in this tuple, we need to create a copy of
existing tuple and then add new element to it using + operator i.e.
'''
# Append 19 at the end of tuple
tupleObj = tupleObj + (191 ,)
tupleObj

(121, 314, 245, 232, 334, 191)

### Insert an element at specific position in tuple

As indexing starts from 0 in tuple, so to insert an element at index n in this tuple, we will create two sliced copies of existing tuple from (0 to n) and (n to end) i.e.

In [ ]:
tupleObj

In [ ]:
(121,314,191,245,232,334,191)
tupleObj[2:]

In [42]:
#### Insert an element at specific position in tuple

'''As indexing starts from 0 in tuple, so to insert an element at index n in 
this tuple, we will create two sliced copies of existing tuple from (0 to n) and 
(n to end)
'''
n = 2
# Insert 19 in tuple at index 2
tupleObj = tupleObj[ : n ] + (191 ,) + tupleObj[n : ]
tupleObj

(121, 314, 191, 245, 232, 334, 191)

#### Range of Indexes
One can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

**NOTE** The search wil start at start index and end at stop index (not included)

In [ ]:
# Example return teh second, third and fourth item

tuple1 = (10, 20, 30, 40, 50, 60, 70)
print(tuple1[1:4])

#### Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the tuple:

In [43]:
tuple1 = (10, 20, 30, 40, 50, 60, 70)
print(tuple1[-4:-1])

(40, 50, 60)

#### Loop Through a Tuple
You can loop through the tuple items by using a for loop.

In [44]:
x = (10,20,30,40)
for i in x:
  print(i)

10
20
30
40

In [45]:
"""
Practice problem 
"""
x = (10,20,30,40)
for i in x:
  print(i, end = ",")

10,20,30,40,

In [ ]:
'''
Check if 20 is present in the tuple

'''

if 10 in x:
    print("Yes, 10 is in x")

### Packing and Unpacking
In packing, we place value into a new tuple while in unpacking we extract those values back into variables.

In [ ]:
x = ("UCSC", 20, "Education")    # tuple packing
(company, emp, profile) = x    # tuple unpacking
print(company)
print(emp)
print(profile)

In [ ]:
# Even sequences with nested tuples can be unpacked:
tup=4,5,(6,7)
a,b,(c,d)=tup
d

In [ ]:
# Swap 
a,b=1,2
a

In [ ]:
b,a = a,b
a

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [ ]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

In [ ]:
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

### Comparing tuples
A comparison operator in Python can work with tuples.

The comparison starts with a first element of each tuple. If they do not compare to =,< or > then it proceed to the second element and so on.

It starts with comparing the first element from each of the tuples

In [47]:
# Case 1

a=(5,3)
b=(1,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

a is bigger

Comparison starts with a first element of each tuple. In this case 5>1, so the output a is bigger

In [ ]:
# Case 2
a=(5,6)
b=(5,4)
if (a>b):print("a is bigger")
else: print ("b is bigger")

Comparison starts with a first element of each tuple. In this case 5>5 which is inconclusive. So it proceeds to the next element. 6>4, so the output a is bigger

In [ ]:
# Case 3
a=(5,6)
b=(6,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

Comparison starts with a first element of each tuple. In this case 5>6 which is false. So it goes into the else block and prints "b is bigger.

### Deleting Tuples
Tuples are immutable and cannot be deleted. You cannot delete or remove items from a tuple. But deleting tuple entirely is possible by using the keyword

del

### Built-in functions with Tuple
To perform different task, tuple allows you to use many built-in functions like all(), any(), enumerate(), max(), min(), sorted(), len(), tuple(), etc.

In [ ]:
tuple2 = (1,2,3,4,5,7)

In [ ]:
for t in tuple2:
    print(t)

In [ ]:
''' quite a few of list methods and functions can be used for tuple also. '''

print(len(tuple2))

In [ ]:
print(min(tuple2))
print(max(tuple2))

In [ ]:
t1 = ('the good', 'the bad', 'the ugly',)
t2 = ('Clint Eastwood',)
t3 = (t1, t2)
print(t3)

In [48]:
t1 = ('the good', 'the bad', 'the ugly')
t2 = ('Clint Eastwood',)
t5 = t1 + t2
print(t5)

('the good', 'the bad', 'the ugly', 'Clint Eastwood')

In [49]:
t6 = ('Good morning',)
print(t6*3)

('Good morning', 'Good morning', 'Good morning')

In [ ]:
print('there' in t1)

In [50]:
tuple_to_list = list(t5)
print(tuple_to_list, type(tuple_to_list))

['the good', 'the bad', 'the ugly', 'Clint Eastwood'] <class 'list'>

In [ ]:
list_ratings = ['bad', 'okay', 'excellent']
list_to_tuple = tuple(list_ratings)
print(list_to_tuple, type(list_to_tuple))

In [ ]:
t1 = (3, 4, 67)
print(id(t1))
t1 = 6
t2 = (1, 2, 423)
print(id(t2))

### Concatenate 
 You can concatenate tuples using the + operator to produce longer tuples

In [51]:
(1,2,3) + (4,)

(1, 2, 3, 4)

In [53]:
# Can you find the problem 
(1,2,3) + ("4")

(1, 2, 3, '4')

Multiplying a tuple by an integer, as with lists, has the effect of concatenating together that many copies of the tuple:

In [54]:
(1,2,3) * 4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

#### Advantages of Tuple over List
Since tuples are quite similar to lists, both of them are used in similar situations as well.
However, there are certain advantages of implementing a tuple over a list. Below listed are some of the main advantages:

- We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.

- Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.

- Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.

- If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

- There is another Python data type that you will discuss shortly called a dictionary, which requires as one of its components a value that is of an immutable type. A tuple can be used for this purpose, whereas a list can’t be.